*
{
    margin: 0;
    padding:0;
}

#title
{
    text-align: center;
}

#header
{
    text-align: center;
}

.sub
{
    text-align: center;
    font-style: italic;
    font-size: 25px;

}

.listWrapper
{
    width: 100%;
    text-align: center;
}

.list
{
    text-align: center;
    display: inline-block;


}